<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/APISERO-logo.svg">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/slicknav.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="../static/css/gijgo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/animated-headline.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/img/logo/loder.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href=""><img src="../static/img/APISERO-logo.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'course' %}">Courses</a></li>
                                        <li class="active"><a href="">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <!-- Button -->
                                        {% if session %}
                                               
                                        <div class="dropdown">
                                        <li class="dropbtn"><a>{{session.userinfo.nickname}}&nbsp;<i class="fa fa-user" aria-hidden="true"></i></a></li>
                                            <div class="dropdown-content">
                                                <a href="{% url 'viewCourse' %}">My Courses</a>
                                                <a href="{% url 'profile' %}">Profile</a>
                                                <a href="{% url 'logout' %}" id="qsLogoutBtn">Logout</a>
                                                
                                              </div>
                                            </div>
                                        {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.4s">About us</h1>
                                    <p style="margin-bottom: 150px;">Apisero is a MuleSoft Strategic and Salesforce Ridge Partner led by an innovative team with more than 25+ years experience across the integration space. </p>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                            <li class="breadcrumb-item"><a href="">about</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <div class="services-area">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="../static/img/icon/icon1.png" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>250+ Technology</h3>
                                <p>The automated process all your website tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="../static/img/icon/icon2.png" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>150+ Arts</h3>
                                <p>The automated process all your website tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="../static/img/icon/icon3.png" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>100+ Business</h3>
                                <p>The give you an edge over other businessess.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="../static/img/icon/about.png" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Accelerate your business</h2>
                            <p>The digital landscape is transforming rapidly, leaving today’s businesses with a need to build, grow, and adapt faster to meet the evolving needs of their customers. But, the challenge of merging disparate data and fragmented applications can block your progress. That’s where we come in.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="../static/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Global Team</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="../static/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Suite of Solutions</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="../static/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Agile Delivery</p>
                        </div>
                    </div>
                </div>

                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="../static/img/gallery/about.jpg" alt="">

                        <div class="video-icon" >
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=lziCjJvb6nY"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <hr>
        <br>
        <!--? About Area-3 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="../static/img/gallery/about3.png" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Learner outcomes on courses you will take</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="../static/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with vulnerable children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="../static/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world
                            learning together.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="../static/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together.
                            Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Team -->
        <section class="team-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Community experts</h2>
                        </div>
                    </div>
                </div>
                <div class="team-active">
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="https://ca.slack-edge.com/T596V2PB7-U030B8GBQTF-1ebd1e37192c-512" width="150"
                                height="150" alt="" >
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://apisero.slack.com/team/U030B8GBQTF">Gaurav Tripathi</a></h5>
                            <p>Senior Software Engineer</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="https://ca.slack-edge.com/T596V2PB7-U02KJBCFT51-2e67d9d71996-512" alt=""
                                width="150" height="150" alt="" >
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://apisero.slack.com/team/U02KJBCFT51">Harsh Pratap Singh</a></h5>
                            <p>Software Engineer</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="https://ca.slack-edge.com/T596V2PB7-U02MDAG4NRE-7579a6c45f20-512" alt=""
                                width="150" height="150" alt="" >
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://apisero.slack.com/team/U02MDAG4NRE">Nikhil Pawar</a></h5>
                            <p>Senior Lead Engineer</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="https://ca.slack-edge.com/T596V2PB7-U02LB7VMSGN-3b1f0e3f6016-512" alt=""
                                width="150" height="150" alt="" >
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://apisero.slack.com/team/U02LB7VMSGN">Harikrishna Gannu</a></h5>
                            <p>Senior Software Engineer</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="https://ca.slack-edge.com/T596V2PB7-U02KKJQ1EP5-84d93b9588ba-512" alt=""
                                width="150" height="150" alt="" >
                        </div>
                        <div class="cat-cap">
                            <h5><a href="https://apisero.slack.com/team/U02KKJQ1EP5">Hemant Raj</a></h5>
                            <p>Software Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services End -->
    </main>
    <footer>
        <div class="footer-wrappper footer-bg">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo mb-25">
                                        <a href="index.html"><img src="../static/img/APISERO-logo.svg" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Apisero is a MuleSoft Strategic and Salesforce Ridge Partner led by an
                                                innovative team with more than 25+ years experience across the
                                                integration space. </p>
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Our solutions</h4>
                                    <ul>
                                        <li><a href="#">MuleSoft</a></li>
                                        <li><a href="#">Salesforce</a></li>
                                        <li><a href="#">Snowflake</a></li>
                                        <li><a href="#">Tableau</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Insights</h4>
                                    <ul>
                                        <li><a href="#">Success stories</a></li>
                                        <li><a href="#">Webinars</a></li>
                                        <li><a href="#">News + Events</a></li>
                                        <li><a href="#">Blog</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Company</h4>
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Recognition</a></li>
                                        <li><a href="#">Our team</a></li>
                                        <li><a href="#">Locations</a></li>
                                        <li><a href="#">Our customers</a></li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> &nbsp;by Apisero</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </div>
    </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="./../static/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./../static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./../static/js/popper.min.js"></script>
<script src="./../static/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./../static/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./../static/js/owl.carousel.min.js"></script>
<script src="./../static/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./../static/js/wow.min.js"></script>
<script src="./../static/js/animated.headline.js"></script>
<script src="./../static/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="./../static/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="./../static/js/jquery.nice-select.min.js"></script>
<script src="./../static/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="./../static/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./../static/js/jquery.counterup.min.js"></script>
<script src="./../static/js/waypoints.min.js"></script>
<script src="./../static/js/jquery.countdown.min.js"></script>
<script src="./../static/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./../static/js/contact.js"></script>
<script src="./../static/js/jquery.form.js"></script>
<script src="./../static/js/jquery.validate.min.js"></script>
<script src="./../static/js/mail-script.js"></script>
<script src="./../static/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./../static/js/plugins.js"></script>
<script src="./../static/js/main.js"></script>

</body>
</html>